h1{
    font-weight: lighter;
    margin: 0 0 2rem;
}

h2{
    font-size: 2rem;
}

.wrapper p{
    font-weight: lighter;
    line-height: 1.5;
    color: #fcfcfcb5;
}

section h2{
    padding: 1rem 0 2rem;
}

.bold-text{
    font-weight: bold;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #FCFCFC;
    text-align: center;
}

nav{
    background-color: #1F1F3B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav ul{
    display: none;
}

a{
    color: #FCFCFC;
    text-decoration: none;
}a:hover{
    text-decoration: underline;
}

nav .cart{
    display: none;
    cursor: pointer;
}

header{
    background-color: #0B0B27;
    padding: 3rem;
}

.header-image{
    width: 100%;
}

.details{
    background-color: #1F1F3B;
    padding: 0.5rem;
}

.mini-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.icon{
    margin-right: 0.5rem;
}

section{
    color: #1F1F3B;
    padding: 2rem 3rem;
    text-align: left;
}

.top-container{
    margin: 3rem 0;
}

.category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    /*border: 0.1px solid #0B0B27;
    border-style: none none solid;*/
}

.category > :first-child{
    border: 2px solid #1F1F3B;
    border-style: none none solid none;
}

.filter-div{
    display: none;
}

.middle-container{
    padding: 0 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem 1rem;
}

.product-card{
    background-color: #ededf1;
    padding: 0.5rem;
    text-align: center;
}

.product-div img{
    width: 100%;
}

.product-card h3{
    margin: 0.5rem 0;
}

.product-card p{
    margin: 0.5rem 0;
}

.product-card button{
    background-color: #FCFCFC;
    color: #1F1F3B;
    width: 85%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border-style: none;
    border-radius: 0.2rem;
    font-weight: bolder;
    box-shadow: 10px 10px 44px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 44px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 44px -9px rgba(0,0,0,0.75);
} .product-card button:hover{
    background-color: #1F1F3B;
    color: #FCFCFC;
}

.btm-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: #ededf1;
    color: #0B0B27;
    margin: 3rem 1rem;
    padding: 0.5rem;
}

.btm-container > :nth-child(2){
    background-color: #0B0B27;
    color: #FCFCFC;
}

.results{
    opacity: 0.5;
    margin: 0;
    text-align: center;
}

.footer-text{
    background-color: #0B0B27;
    background-image: url('../images/footer-image.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FCFCFC;
    padding: 3rem 1rem;
    text-align: left;
}

.shop-now h2{
    margin-bottom: 2rem;
}

.shop-now button{
    color: #0B0B27;
    padding: 0.6rem 1.5rem;
}

@media (min-width: 800px) {

    h1{
        font-size: 4rem;
    }

    .wrapper p{
        font-size: 1.5rem;
    }

    .hamburger-menu{
        display: none;
    }
    
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav ul li{
        margin: 0 1rem;
    }

    nav .cart{
        display: inline-block;
        width: 2%;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .details{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .category{
        width: 75%;
    }

    .filter-div{
        display: flex;
        justify-content: center;
    }

    .middle-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .shop-now{
        width: 40%;
    }

}
